* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.time {
  font-size: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 0 20px #fc5555;
  margin-top: 200px;
}
